@model mvcPet.Entities.TipoServicio

@{
    ViewBag.Title = "Precios";
}

<h2>Precios de @Model.Nombre</h2>

<p>
    @Html.ActionLink("Nuevo Precio", "NuevoPrecio", new { id = Model.Id }, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Precios.FirstOrDefault().FechaDesde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precios.FirstOrDefault().FechaHasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precios.FirstOrDefault().Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Precios) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDesde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                @Html.ActionLink("Editar", "EditarPrecio", new { id = item.Id }, new {@class="btn btn-success" }) 
                @Html.ActionLink("Eliminar", "DeletePrecio", new { id = item.Id }, new {@class="btn btn-danger" })
            </div>
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary"})
</div>